//Main colors
@background-color: #FFF;
@main-color: #40983F;

@font: Helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif,"Segoe UI Emoji","Segoe UI Symbol";

@text-color: black;

@link-color: @main-color;
@link-color-hover: darken(@main-color, 20%);

// Buttons
@button-text-color: white;
@button-color: @main-color;
@button-height: 2em;
@button-padding: 7px 12px;
@button-font-size: 1em;

@widget-height: 500px;
@spinner-color: #CCC;

@chart-y-axis-color: black;

@table-color: #CCC;

.citycontext-ui {
  font-family: @font;
  color: @text-color;

  a {
    color: @link-color;
    text-decoration: none;

    &:hover {
      color: @link-color-hover;
    }
  }

  h5 {
    font-size: 0.8em;
  }

  .button {
    background-color: @button-color;
    border: none;
    color: @button-text-color;
    font-size: @button-font-size;
    height: @button-height;
    margin-left: 10px;
    padding: @button-padding;

    &:hover {
      background-color: darken(@button-color, 5%);
      cursor: pointer;
    }

    &.selected {
      background-color: darken(@button-color, 10%);
    }
  }

  .form {
    input[type='text'] {
      height: @button-height;
      padding-left: 1em;
    }
  }
}
