//Main colors
@citycontext-ui-background-color: #FFF;
@citycontext-ui-main-color: #40983F;

@citycontext-ui-font: Helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif,"Segoe UI Emoji","Segoe UI Symbol";

@citycontext-ui-text-color: black;

@citycontext-ui-link-color: @citycontext-ui-main-color;
@citycontext-ui-link-color-hover: darken(@citycontext-ui-main-color, 20%);

// Buttons
@citycontext-ui-button-text-color: white;
@citycontext-ui-button-color: @citycontext-ui-main-color;
@citycontext-ui-button-height: 2em;
@citycontext-ui-button-padding: 0 12px;
@citycontext-ui-button-font-size: 1em;

@citycontext-ui-widget-height: 500px;
@citycontext-ui-spinner-color: #CCC;

@citycontext-ui-chart-y-axis-color: black;

@citycontext-ui-table-color: #CCC;

.citycontext-ui {
  font-family: @citycontext-ui-font;
  color: @citycontext-ui-text-color;

  a {
    color: @citycontext-ui-link-color;
    text-decoration: none;

    &:hover {
      color: @citycontext-ui-link-color-hover;
    }
  }

  h5 {
    font-size: 0.8em;
  }

  .button {
    background-color: @citycontext-ui-button-color;
    border: none;
    color: @citycontext-ui-button-text-color;
    font-size: @citycontext-ui-button-font-size;
    height: @citycontext-ui-button-height;
    margin-left: 10px;
    padding: @citycontext-ui-button-padding;

    &:hover {
      background-color: darken(@citycontext-ui-button-color, 5%);
      cursor: pointer;
    }

    &.selected {
      background-color: darken(@citycontext-ui-button-color, 10%);
    }
  }

  .form {
    input[type='text'] {
      height: @citycontext-ui-button-height;
      padding-left: 1em;
    }
  }
}
