h3.criminality-results-header
.section
  .map-container.criminality-map-container.col.span_6_of_12
    .criminality-map.map
  .criminality-graph-container.col.span_6_of_12
    .criminality-graph
    .criminality-y-axis
