h3.demographics-results-header
.row
  .col-md-6.map-container.demographics-map-container
    .map.demographics-map
  .col-md-6
    dl
      dt All usual residents
      dd.demographics-all-usual-residents
      dt Household residents
      dd.demographics-household-residents
      dt Communal establishment residents
      dd.demographics-communal-establishment-residents
        dt Households
        dd.demographics-households
        dt Persons per household
        dd.demographics-persons-per-household
        dt Persons per hectare
        dd.demographics-persons-per-hectare
