@import 'less/theme';
@import 'less/grid';

.criminality-graph-container {
  position: relative;
  &:extend(.col);
  &:extend(.span_6_of_12);
}
.criminality-graph {
  margin-left: 40px;
}
.criminality-y-axis {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
  fill: @chart-y-axis-color;
}

.criminality-map-container {
  &:extend(.col);
  &:extend(.span_6_of_12);
}
