@import 'less/theme';

.citycontext-ui.schools-widget-container {
  .school-list {
    padding-top: 15px;

    .circle {
      float: left;
      width: 10px;
      height: 10px;
      margin-right: 5px;
      margin-top: 6px;
      border-radius: 50%;
    }

    .empty-circle {
      border: @main-color 1px solid;
    }

    .full-circle {
      background-color: @main-color;
    }

    .school {
      border-bottom: solid 1px #444;

      .school-description {
        transition: height 0.5s;
        height: 0px;
        overflow: hidden;

        &.expanded {
          height: 120px;
        }
      }
    }
  };
}
